@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default Light Theme */
:root {
    --color-primary: #2563eb;  /* Blue */
    --color-secondary: #10b981; /* Green */
    --color-background: #ffffff;
    --color-text: #1f2937; /* Gray-800 */
  }
  
  /* Dark Theme */
  .dark {
    --color-primary: #1e3a8a;  /* Dark Blue */
    --color-secondary: #059669; /* Dark Green */
    --color-background: #111827;
    --color-text: #f3f4f6; /* Gray-100 */
  }
  